tr{
width:500px;
}
td{
width:50px;
height:90px;
text-align:center;
}

body{
font-family: 'Oswald', sans-serif;
background-image: url(/assets/bg3.jpg);
color: white;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100% 100%;
background-origin: content-box

}
#title,h1{
text-align: center;

font-size: 150px;
}

#moveText{
font-size: 20px;
}

img{
margin-left: auto;
margin-right: auto;
}
#mainTable{
margin-left: auto;
margin-right: auto;
}

#dealButton{
text-align: center;
padding-top: 10px;
}

#everything{
text-align: center;
margin-left: auto;
margin-right: auto;
}

.theCards {
    align: center;
}

.title{

}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}

.dropArea{
    float: right;
    outline-width: 1px;
    width: 100px;
/*    outline-color: black;
    outline-style: dashed;*/
    height: 400px;
    margin: 20px;
}

