tr{
width:500px;
}
td{
width:50px;
height:90px;
text-align:center;
}

.title{
font-weight: bold;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}

.dropArea{
    float: left;
    outline-width: 1px;
    width: 100px;
    outline-color: black;
    outline-style: dashed;
    height: 145px;
    margin: 20px;
}

.ace-hearts{ background-image: url(/assets/images/ace_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.ace-diamonds{ background-image: url(/assets/images/ace_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.ace-spades{ background-image: url(/assets/images/ace_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.ace-clubs{ background-image: url(/assets/images/ace_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.two-hearts{ background-image: url(/assets/images/2_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.two-diamonds{ background-image: url(/assets/images/2_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.two-spades{ background-image: url(/assets/images/2_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.two-clubs{ background-image: url(/assets/images/2_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.three-hearts{ background-image: url(/assets/images/3_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.three-diamonds{ background-image: url(/assets/images/3_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.three-spades{ background-image: url(/assets/images/3_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.three-clubs{ background-image: url(/assets/images/3_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.four-heart{ background-image: url(/assets/images/4_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.four-diamonds{ background-image: url(/assets/images/4_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.four-spades{ background-image: url(/assets/images/4_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.four-clubs{ background-image: url(/assets/images/4_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.five-hearts{ background-image: url(/assets/images/5_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.five-diamonds{ background-image: url(/assets/images/5_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.five-spades{ background-image: url(/assets/images/5_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.five-clubs{ background-image: url(/assets/images/5_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.six-hearts{ background-image: url(/assets/images/6_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.six-diamonds{ background-image: url(/assets/images/6_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.six-spades{ background-image: url(/assets/images/6_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.six-clubs{ background-image: url(/assets/images/6_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.seven-hearts{ background-image: url(/assets/images/7_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.seven-diamonds{ background-image: url(/assets/images/7_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.seven-spades{ background-image: url(/assets/images/7_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.seven-clubs{ background-image: url(/assets/images/7_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.eight-hearts{ background-image: url(/assets/images/8_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.eight-diamonds{ background-image: url(/assets/images/8_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.eight-spades{ background-image: url(/assets/images/8_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.eight-clubs{ background-image: url(/assets/images/8_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.nine-hearts{ background-image: url(/assets/images/9_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.nine-diamonds{ background-image: url(/assets/images/9_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.nine-spades{ background-image: url(/assets/images/9_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.nine-clubs{ background-image: url(/assets/images/9_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.ten-hearts{ background-image: url(/assets/images/10_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.ten-diamonds{ background-image: url(/assets/images/10_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.ten-spades{ background-image: url(/assets/images/10_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.ten-clubs{ background-image: url(/assets/images/10_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.jack-hearts{ background-image: url(/assets/images/jack_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.jack-diamonds{ background-image: url(/assets/images/jack_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.jack-spades{ background-image: url(/assets/images/jack_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.jack-clubs{ background-image: url(/assets/images/jack_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.queen-hearts{ background-image: url(/assets/images/queen_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.queen-diamonds{ background-image: url(/assets/images/queen_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.queen-spades{ background-image: url(/assets/images/queen_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.queen-clubs{ background-image: url(/assets/images/queen_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}

.king-hearts{ background-image: url(/assets/images/king_of_hearts.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.king-diamonds{ background-image: url(/assets/images/king_of_diamonds.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.king-spades{ background-image: url(/assets/images/king_of_spades.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
.king-clubs{ background-image: url(/assets/images/king_of_clubs.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
