<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>


<body>

<script type="text/javascript" src="/assets/javascript/dragula.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/dragula.css">
<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">


<script>
    $( "#card10" ).click(function() {
  alert( "Handler for .click() called." );
});
</script>

<table>
    <tr class="title">
        <td>Column0</td>
        <td >Column1</td>
        <td >Column2</td>
        <td >Column3</td>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0" id="c10"></td></tr>
            <tr><td class="cardLocation l1" id="c11"></td></tr>
            <tr><td class="cardLocation l2" id="c12"></td></tr>
            <tr><td class="cardLocation l3" id="c13"></td></tr>
            <tr><td class="cardLocation l4" id="c14"></td></tr>
            <tr><td class="cardLocation l5" id="c15"></td></tr>
            <tr><td class="cardLocation l6" id="c16"></td></tr>
            <tr><td class="cardLocation l7" id="c17"></td></tr>
            <tr><td class="cardLocation l8" id="c18"></td></tr>
            <tr><td class="cardLocation l9" id="c19"></td></tr>
            <tr><td class="cardLocation l10" id="c110"></td></tr>
            <tr><td class="cardLocation l11" id="c111"></td></tr>
            <tr><td class="cardLocation l12" id="c112"></td></tr>
            <tr><td class="cardLocation l13" id="c113"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1" >
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>
</table>






<button id="dealButton" style="margin-left:90%">Deal</button>
<BR><button id="Remove1" >Column1 Remove</button><button id="Remove2" >Column2 Remove</button><button id="Remove3" >Column3 Remove</button><button id="Remove4" >Column4 Remove</button>

<BR>Move from column <input type="text" id="from_col"  /> to <input type="text" id="to_col"  /> <button id="moveButton">Move</button>

<br><br>

<h1>Drag and Drop Card</h1>

<div>

    <div id="one" class="dropArea">
        <img src="/assets/images/2_of_hearts.png" id="Card3" style="width: 100px;">
        <img src="/assets/images/3_of_clubs.png" id="Card3" style="width: 100px;">
    </div>

    <div id="two" class="dropArea">
        <img src="/assets/images/2_of_diamonds.png" id="Card3" style="width: 100px;">
        <img src="/assets/images/8_of_clubs.png" id="Card3" style="width: 100px;">
        <img src="/assets/images/9_of_clubs.png" id="Card3" style="width: 100px;">
        <img src="/assets/images/3_of_hearts.png" id="Card3" style="width: 100px;">
    </div>

    <div id="three" class="dropArea">
        <img src="/assets/images/2_of_clubs.png" id="Card3" style="width: 100px;">
        <img src="/assets/images/4_of_clubs.png" id="Card3" style="width: 100px;">
        <img src="/assets/images/4_of_diamonds.png" id="Card3" style="width: 100px;">
    </div>

    <div id="four" class="dropArea">
        <img src="/assets/images/2_of_spades.png" id="Card3" style="width: 100px;">
    </div>
</div>

<BR>

<BR>

<table>
    <tr>
        <td id="trash" style="width:100px; background-color: Blue; color: White;">Trash</td>
    </tr>
</table>


<script>
    dragula([document.querySelector('#c0'), document.querySelector('#trash')]);
    dragula([document.querySelector('#c1'), document.querySelector('#trash')]);
    dragula([document.querySelector('#c2'), document.querySelector('#trash')]);
    dragula([document.querySelector('#c3'), document.querySelector('#trash')]);

</script>

<script>

    var game;

    function display(game) {
    console.log(game);

    $( '.columnOfCards .cardLocation' ).html("");

     $.each(game.cols[0], function( key, val ) {
       if (val.suit === 'Spades'){
           if (val.value === 1){
               $( '#c0 .l'+key ).addClass('ace-spades');
           }
           else if (val.value === 2){
               $( '#c0 .l'+key ).addClass('two-spades');
           }
           if (val.value === 3){
               $( '#c0 .l'+key ).addClass('three-spades');
           }
           if (val.value === 4){
               $( '#c0 .l'+key ).addClass('four-spades');
           }
           if (val.value === 5){
               $( '#c0 .l'+key ).addClass('five-spades');
           }
           if (val.value === 6){
               $( '#c0 .l'+key ).addClass('six-spades');
           }
           if (val.value === 7){
               $( '#c0 .l'+key ).addClass('seven-spades');
           }
           if (val.value === 8){
               $( '#c0 .l'+key ).addClass('eight-spades');
           }
           if (val.value === 9){
               $( '#c0 .l'+key ).addClass('nine-spades');
           }
           if (val.value === 10){
               $( '#c0 .l'+key ).addClass('ten-spades');
           }
           if (val.value === 11){
               $( '#c0 .l'+key ).addClass('jack-spades');
           }
           if (val.value === 12){
               $( '#c0 .l'+key ).addClass('queen-spades');
           }
           if (val.value === 13){
               $( '#c0 .l'+key ).addClass('king-spades');
           }
       }
       if (val.suit === 'Hearts'){
           if (val.value === 1){
               $( '#c0 .l'+key ).addClass('ace-hearts');
           }
           if (val.value === 2){
               $( '#c0 .l'+key ).addClass('two-hearts');
           }
           if (val.value === 3){
               $( '#c0 .l'+key ).addClass('three-hearts');
           }
           if (val.value === 4){
               $( '#c0 .l'+key ).addClass('four-hearts');
           }
           if (val.value === 5){
               $( '#c0 .l'+key ).addClass('five-hearts');
           }
           if (val.value === 6){
               $( '#c0 .l'+key ).addClass('six-hearts');
           }
           if (val.value === 7){
               $( '#c0 .l'+key ).addClass('seven-hearts');
           }
           if (val.value === 8){
               $( '#c0 .l'+key ).addClass('eight-hearts');
           }
           if (val.value === 9){
               $( '#c0 .l'+key ).addClass('nine-hearts');
           }
           if (val.value === 10){
               $( '#c0 .l'+key ).addClass('ten-hearts');
           }
           if (val.value === 11){
               $( '#c0 .l'+key ).addClass('jack-hearts');
           }
           if (val.value === 12){
               $( '#c0 .l'+key ).addClass('queen-hearts');
           }
           if (val.value === 13){
               $( '#c0 .l'+key ).addClass('king-hearts');
           }
       }
       if (val.suit === 'Diamonds'){
           if (val.value === 1){
               $( '#c0 .l'+key ).addClass('ace-diamonds');
           }
           if (val.value === 2){
               $( '#c0 .l'+key ).addClass('two-diamonds');
           }
           if (val.value === 3){
               $( '#c0 .l'+key ).addClass('three-diamonds');
           }
           if (val.value === 4){
               $( '#c0 .l'+key ).addClass('four-diamonds');
           }
           if (val.value === 5){
               $( '#c0 .l'+key ).addClass('five-diamonds');
           }
           if (val.value === 6){
               $( '#c0 .l'+key ).addClass('six-diamonds');
           }
           if (val.value === 7){
               $( '#c0 .l'+key ).addClass('seven-diamonds');
           }
           if (val.value === 8){
               $( '#c0 .l'+key ).addClass('eight-diamonds');
           }
           if (val.value === 9){
               $( '#c0 .l'+key ).addClass('nine-diamonds');
           }
           if (val.value === 10){
               $( '#c0 .l'+key ).addClass('ten-diamonds');
           }
           if (val.value === 11){
               $( '#c0 .l'+key ).addClass('jack-diamonds');
           }
           if (val.value === 12){
               $( '#c0 .l'+key ).addClass('queen-diamonds');
           }
           if (val.value === 13){
               $( '#c0 .l'+key ).addClass('king-diamonds');
           }
       }
       if (val.suit === 'Clubs'){
           if (val.value === 1){
               $( '#c0 .l'+key ).addClass('ace-clubs');
           }
           if (val.value === 2){
               $( '#c0 .l'+key ).addClass('two-clubs');
           }
           if (val.value === 3){
               $( '#c0 .l'+key ).addClass('three-clubs');
           }
           if (val.value === 4){
               $( '#c0 .l'+key ).addClass('four-clubs');
           }
           if (val.value === 5){
               $( '#c0 .l'+key ).addClass('five-clubs');
           }
           if (val.value === 6){
               $( '#c0 .l'+key ).addClass('six-clubs');
           }
           if (val.value === 7){
               $( '#c0 .l'+key ).addClass('seven-clubs');
           }
           if (val.value === 8){
               $( '#c0 .l'+key ).addClass('eight-clubs');
           }
           if (val.value === 9){
               $( '#c0 .l'+key ).addClass('nine-clubs');
           }
           if (val.value === 10){
               $( '#c0 .l'+key ).addClass('ten-clubs');
           }
           if (val.value === 11){
               $( '#c0 .l'+key ).addClass('jack-clubs');
           }
           if (val.value === 12){
               $( '#c0 .l'+key ).addClass('queen-clubs');
           }
           if (val.value === 13){
               $( '#c0 .l'+key ).addClass('king-clubs');
           }
       }
        });

     $.each(game.cols[1], function( key, val ) {
       if (val.suit === 'Spades'){
           if (val.value === 1){
               $( '#c1 .l'+key ).addClass('ace-spades');
           }
           else if (val.value === 2){
               $( '#c1 .l'+key ).addClass('two-spades');
           }
           if (val.value === 3){
               $( '#c1 .l'+key ).addClass('three-spades');
           }
           if (val.value === 4){
               $( '#c1 .l'+key ).addClass('four-spades');
           }
           if (val.value === 5){
               $( '#c1 .l'+key ).addClass('five-spades');
           }
           if (val.value === 6){
               $( '#c1 .l'+key ).addClass('six-spades');
           }
           if (val.value === 7){
               $( '#c1 .l'+key ).addClass('seven-spades');
           }
           if (val.value === 8){
               $( '#c1 .l'+key ).addClass('eight-spades');
           }
           if (val.value === 9){
               $( '#c1 .l'+key ).addClass('nine-spades');
           }
           if (val.value === 10){
               $( '#c1 .l'+key ).addClass('ten-spades');
           }
           if (val.value === 11){
               $( '#c1 .l'+key ).addClass('jack-spades');
           }
           if (val.value === 12){
               $( '#c1 .l'+key ).addClass('queen-spades');
           }
           if (val.value === 13){
               $( '#c1 .l'+key ).addClass('king-spades');
           }
       }
       else if (val.suit === 'Hearts'){
           if (val.value === 1){
               $( '#c1 .l'+key ).addClass('ace-hearts');
           }
           if (val.value === 2){
               $( '#c1 .l'+key ).addClass('two-hearts');
           }
           if (val.value === 3){
               $( '#c1 .l'+key ).addClass('three-hearts');
           }
           if (val.value === 4){
               $( '#c1 .l'+key ).addClass('four-hearts');
           }
           if (val.value === 5){
               $( '#c1 .l'+key ).addClass('five-hearts');
           }
           if (val.value === 6){
               $( '#c1 .l'+key ).addClass('six-hearts');
           }
           if (val.value === 7){
               $( '#c1 .l'+key ).addClass('seven-hearts');
           }
           if (val.value === 8){
               $( '#c1 .l'+key ).addClass('eight-hearts');
           }
           if (val.value === 9){
               $( '#c1 .l'+key ).addClass('nine-hearts');
           }
           if (val.value === 10){
               $( '#c1 .l'+key ).addClass('ten-hearts');
           }
           if (val.value === 11){
               $( '#c1 .l'+key ).addClass('jack-hearts');
           }
           if (val.value === 12){
               $( '#c1 .l'+key ).addClass('queen-hearts');
           }
           if (val.value === 13){
               $( '#c1 .l'+key ).addClass('king-hearts');
           }
       }
       else if (val.suit === 'Diamonds'){
           if (val.value === 1){
               $( '#c1 .l'+key ).addClass('ace-diamonds');
           }
           if (val.value === 2){
               $( '#c1 .l'+key ).addClass('two-diamonds');
           }
           if (val.value === 3){
               $( '#c1 .l'+key ).addClass('three-diamonds');
           }
           if (val.value === 4){
               $( '#c1 .l'+key ).addClass('four-diamonds');
           }
           if (val.value === 5){
               $( '#c1 .l'+key ).addClass('five-diamonds');
           }
           if (val.value === 6){
               $( '#c1 .l'+key ).addClass('six-diamonds');
           }
           if (val.value === 7){
               $( '#c1 .l'+key ).addClass('seven-diamonds');
           }
           if (val.value === 8){
               $( '#c1 .l'+key ).addClass('eight-diamonds');
           }
           if (val.value === 9){
               $( '#c1 .l'+key ).addClass('nine-diamonds');
           }
           if (val.value === 10){
               $( '#c1 .l'+key ).addClass('ten-diamonds');
           }
           if (val.value === 11){
               $( '#c1 .l'+key ).addClass('jack-diamonds');
           }
           if (val.value === 12){
               $( '#c1 .l'+key ).addClass('queen-diamonds');
           }
           if (val.value === 13){
               $( '#c1 .l'+key ).addClass('king-diamonds');
           }
       }
       else if (val.suit === 'Clubs'){
           if (val.value === 1){
               $( '#c1 .l'+key ).addClass('ace-clubs');
           }
           if (val.value === 2){
               $( '#c1 .l'+key ).addClass('two-clubs');
           }
           if (val.value === 3){
               $( '#c1 .l'+key ).addClass('three-clubs');
           }
           if (val.value === 4){
               $( '#c1 .l'+key ).addClass('four-clubs');
           }
           if (val.value === 5){
               $( '#c1 .l'+key ).addClass('five-clubs');
           }
           if (val.value === 6){
               $( '#c1 .l'+key ).addClass('six-clubs');
           }
           if (val.value === 7){
               $( '#c1 .l'+key ).addClass('seven-clubs');
           }
           if (val.value === 8){
               $( '#c1 .l'+key ).addClass('eight-clubs');
           }
           if (val.value === 9){
               $( '#c1 .l'+key ).addClass('nine-clubs');
           }
           if (val.value === 10){
               $( '#c1 .l'+key ).addClass('ten-clubs');
           }
           if (val.value === 11){
               $( '#c1 .l'+key ).addClass('jack-clubs');
           }
           if (val.value === 12){
               $( '#c1 .l'+key ).addClass('queen-clubs');
           }
           if (val.value === 13){
               $( '#c1 .l'+key ).addClass('king-clubs');
           }
       }
       else{
         $( '#c1 .l'+key ).html(val.value + val.suit);
       }
        });

     $.each(game.cols[2], function( key, val ) {
       if (val.suit === 'Spades'){
           if (val.value === 1){
               $( '#c2 .l'+key ).addClass('ace-spades');
           }
           else if (val.value === 2){
               $( '#c2 .l'+key ).addClass('two-spades');
           }
           if (val.value === 3){
               $( '#c2 .l'+key ).addClass('three-spades');
           }
           if (val.value === 4){
               $( '#c2 .l'+key ).addClass('four-spades');
           }
           if (val.value === 5){
               $( '#c2 .l'+key ).addClass('five-spades');
           }
           if (val.value === 6){
               $( '#c2 .l'+key ).addClass('six-spades');
           }
           if (val.value === 7){
               $( '#c2 .l'+key ).addClass('seven-spades');
           }
           if (val.value === 8){
               $( '#c2 .l'+key ).addClass('eight-spades');
           }
           if (val.value === 9){
               $( '#c2 .l'+key ).addClass('nine-spades');
           }
           if (val.value === 10){
               $( '#c2 .l'+key ).addClass('ten-spades');
           }
           if (val.value === 11){
               $( '#c2 .l'+key ).addClass('jack-spades');
           }
           if (val.value === 12){
               $( '#c2 .l'+key ).addClass('queen-spades');
           }
           if (val.value === 13){
               $( '#c2 .l'+key ).addClass('king-spades');
           }
       }
       else if (val.suit === 'Hearts'){
           if (val.value === 1){
               $( '#c2 .l'+key ).addClass('ace-hearts');
           }
           if (val.value === 2){
               $( '#c2 .l'+key ).addClass('two-hearts');
           }
           if (val.value === 3){
               $( '#c2 .l'+key ).addClass('three-hearts');
           }
           if (val.value === 4){
               $( '#c2 .l'+key ).addClass('four-hearts');
           }
           if (val.value === 5){
               $( '#c2 .l'+key ).addClass('five-hearts');
           }
           if (val.value === 6){
               $( '#c2 .l'+key ).addClass('six-hearts');
           }
           if (val.value === 7){
               $( '#c2 .l'+key ).addClass('seven-hearts');
           }
           if (val.value === 8){
               $( '#c2 .l'+key ).addClass('eight-hearts');
           }
           if (val.value === 9){
               $( '#c2 .l'+key ).addClass('nine-hearts');
           }
           if (val.value === 10){
               $( '#c2 .l'+key ).addClass('ten-hearts');
           }
           if (val.value === 11){
               $( '#c2 .l'+key ).addClass('jack-hearts');
           }
           if (val.value === 12){
               $( '#c2 .l'+key ).addClass('queen-hearts');
           }
           if (val.value === 13){
               $( '#c2 .l'+key ).addClass('king-hearts');
           }
       }
       else if (val.suit === 'Diamonds'){
           if (val.value === 1){
               $( '#c2 .l'+key ).addClass('ace-diamonds');
           }
           if (val.value === 2){
               $( '#c2 .l'+key ).addClass('two-diamonds');
           }
           if (val.value === 3){
               $( '#c2 .l'+key ).addClass('three-diamonds');
           }
           if (val.value === 4){
               $( '#c2 .l'+key ).addClass('four-diamonds');
           }
           if (val.value === 5){
               $( '#c2 .l'+key ).addClass('five-diamonds');
           }
           if (val.value === 6){
               $( '#c2 .l'+key ).addClass('six-diamonds');
           }
           if (val.value === 7){
               $( '#c2 .l'+key ).addClass('seven-diamonds');
           }
           if (val.value === 8){
               $( '#c2 .l'+key ).addClass('eight-diamonds');
           }
           if (val.value === 9){
               $( '#c2 .l'+key ).addClass('nine-diamonds');
           }
           if (val.value === 10){
               $( '#c2 .l'+key ).addClass('ten-diamonds');
           }
           if (val.value === 11){
               $( '#c2 .l'+key ).addClass('jack-diamonds');
           }
           if (val.value === 12){
               $( '#c2 .l'+key ).addClass('queen-diamonds');
           }
           if (val.value === 13){
               $( '#c2 .l'+key ).addClass('king-diamonds');
           }
       }
       else if (val.suit === 'Clubs'){
           if (val.value === 1){
               $( '#c2 .l'+key ).addClass('ace-clubs');
           }
           if (val.value === 2){
               $( '#c2 .l'+key ).addClass('two-clubs');
           }
           if (val.value === 3){
               $( '#c2 .l'+key ).addClass('three-clubs');
           }
           if (val.value === 4){
               $( '#c2 .l'+key ).addClass('four-clubs');
           }
           if (val.value === 5){
               $( '#c2 .l'+key ).addClass('five-clubs');
           }
           if (val.value === 6){
               $( '#c2 .l'+key ).addClass('six-clubs');
           }
           if (val.value === 7){
               $( '#c2 .l'+key ).addClass('seven-clubs');
           }
           if (val.value === 8){
               $( '#c2 .l'+key ).addClass('eight-clubs');
           }
           if (val.value === 9){
               $( '#c2 .l'+key ).addClass('nine-clubs');
           }
           if (val.value === 10){
               $( '#c2 .l'+key ).addClass('ten-clubs');
           }
           if (val.value === 11){
               $( '#c2 .l'+key ).addClass('jack-clubs');
           }
           if (val.value === 12){
               $( '#c2 .l'+key ).addClass('queen-clubs');
           }
           if (val.value === 13){
               $( '#c2 .l'+key ).addClass('king-clubs');
           }
       }
       else{
         $( '#c2 .l'+key ).html(val.value + val.suit);
       }
        });

     $.each(game.cols[3], function( key, val ) {
       if (val.suit === 'Spades'){
           if (val.value === 1){
               $( '#c3 .l'+key ).addClass('ace-spades');
           }
           else if (val.value === 2){
               $( '#c3 .l'+key ).addClass('two-spades');
           }
           if (val.value === 3){
               $( '#c3 .l'+key ).addClass('three-spades');
           }
           if (val.value === 4){
               $( '#c3 .l'+key ).addClass('four-spades');
           }
           if (val.value === 5){
               $( '#c3 .l'+key ).addClass('five-spades');
           }
           if (val.value === 6){
               $( '#c3 .l'+key ).addClass('six-spades');
           }
           if (val.value === 7){
               $( '#c3 .l'+key ).addClass('seven-spades');
           }
           if (val.value === 8){
               $( '#c3 .l'+key ).addClass('eight-spades');
           }
           if (val.value === 9){
               $( '#c3 .l'+key ).addClass('nine-spades');
           }
           if (val.value === 10){
               $( '#c3 .l'+key ).addClass('ten-spades');
           }
           if (val.value === 11){
               $( '#c3 .l'+key ).addClass('jack-spades');
           }
           if (val.value === 12){
               $( '#c3 .l'+key ).addClass('queen-spades');
           }
           if (val.value === 13){
               $( '#c3 .l'+key ).addClass('king-spades');
           }
       }
       else if (val.suit === 'Hearts'){
           if (val.value === 1){
               $( '#c3 .l'+key ).addClass('ace-hearts');
           }
           if (val.value === 2){
               $( '#c3 .l'+key ).addClass('two-hearts');
           }
           if (val.value === 3){
               $( '#c3 .l'+key ).addClass('three-hearts');
           }
           if (val.value === 4){
               $( '#c3 .l'+key ).addClass('four-hearts');
           }
           if (val.value === 5){
               $( '#c3 .l'+key ).addClass('five-hearts');
           }
           if (val.value === 6){
               $( '#c3 .l'+key ).addClass('six-hearts');
           }
           if (val.value === 7){
               $( '#c3 .l'+key ).addClass('seven-hearts');
           }
           if (val.value === 8){
               $( '#c3 .l'+key ).addClass('eight-hearts');
           }
           if (val.value === 9){
               $( '#c3 .l'+key ).addClass('nine-hearts');
           }
           if (val.value === 10){
               $( '#c3 .l'+key ).addClass('ten-hearts');
           }
           if (val.value === 11){
               $( '#c3 .l'+key ).addClass('jack-hearts');
           }
           if (val.value === 12){
               $( '#c3 .l'+key ).addClass('queen-hearts');
           }
           if (val.value === 13){
               $( '#c3 .l'+key ).addClass('king-hearts');
           }
       }
       else if (val.suit === 'Diamonds'){
           if (val.value === 1){
               $( '#c3 .l'+key ).addClass('ace-diamonds');
           }
           if (val.value === 2){
               $( '#c3 .l'+key ).addClass('two-diamonds');
           }
           if (val.value === 3){
               $( '#c3 .l'+key ).addClass('three-diamonds');
           }
           if (val.value === 4){
               $( '#c3 .l'+key ).addClass('four-diamonds');
           }
           if (val.value === 5){
               $( '#c3 .l'+key ).addClass('five-diamonds');
           }
           if (val.value === 6){
               $( '#c3 .l'+key ).addClass('six-diamonds');
           }
           if (val.value === 7){
               $( '#c3 .l'+key ).addClass('seven-diamonds');
           }
           if (val.value === 8){
               $( '#c3 .l'+key ).addClass('eight-diamonds');
           }
           if (val.value === 9){
               $( '#c3 .l'+key ).addClass('nine-diamonds');
           }
           if (val.value === 10){
               $( '#c3 .l'+key ).addClass('ten-diamonds');
           }
           if (val.value === 11){
               $( '#c3 .l'+key ).addClass('jack-diamonds');
           }
           if (val.value === 12){
               $( '#c3 .l'+key ).addClass('queen-diamonds');
           }
           if (val.value === 13){
               $( '#c3 .l'+key ).addClass('king-diamonds');
           }
       }
       else if (val.suit === 'Clubs'){
           if (val.value === 1){
               $( '#c3 .l'+key ).addClass('ace-clubs');
           }
           if (val.value === 2){
               $( '#c3 .l'+key ).addClass('two-clubs');
           }
           if (val.value === 3){
               $( '#c3 .l'+key ).addClass('three-clubs');
           }
           if (val.value === 4){
               $( '#c3 .l'+key ).addClass('four-clubs');
           }
           if (val.value === 5){
               $( '#c3 .l'+key ).addClass('five-clubs');
           }
           if (val.value === 6){
               $( '#c3 .l'+key ).addClass('six-clubs');
           }
           if (val.value === 7){
               $( '#c3 .l'+key ).addClass('seven-clubs');
           }
           if (val.value === 8){
               $( '#c3 .l'+key ).addClass('eight-clubs');
           }
           if (val.value === 9){
               $( '#c3 .l'+key ).addClass('nine-clubs');
           }
           if (val.value === 10){
               $( '#c3 .l'+key ).addClass('ten-clubs');
           }
           if (val.value === 11){
               $( '#c3 .l'+key ).addClass('jack-clubs');
           }
           if (val.value === 12){
               $( '#c3 .l'+key ).addClass('queen-clubs');
           }
           if (val.value === 13){
               $( '#c3 .l'+key ).addClass('king-clubs');
           }
       }
       else{
         $( '#c1 .l'+key ).html(val.value + val.suit);
       }
        });



    }

    $.getJSON("http://localhost:8080/game", function( data ) {
    display(data);
    game = data;
    });


    $("#dealButton").click(function(){
    $.ajax({
      type: "POST",
      url: "/dealGame",
      data: JSON.stringify(game),
      success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
      contentType:"application/json; charset=utf-8",
      dataType:"json",
    });
    });


    function removeCard(colNumber){
    $.ajax({
    type: "POST",
    url: "/removeCard/"+colNumber,
    data: JSON.stringify(game),
    success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
    game = data;
    display(data);},
    contentType:"application/json; charset=utf-8",
    dataType:"json",
    });

    }


    $("#Remove1").click(function(){
        removeCard(0);
    });
    $("#Remove2").click(function(){
        removeCard(1);
    });
    $("#Remove3").click(function(){
        removeCard(2);
    });
    $("#Remove4").click(function(){
        removeCard(3);
    });


    $("#moveButton").click(function(){
    var colFrom = $("#from_col").val();
    var colTo = $("#to_col").val();
    $.ajax({
      type: "POST",
      url: "/moveCard/"+colFrom+"/"+colTo,
      data: JSON.stringify(game),
      success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
      contentType:"application/json; charset=utf-8",
      dataType:"json",
    });
    });

    dragula([document.querySelector('#one'), document.querySelector('#two'),document.querySelector('#three'),document.querySelector('#four')]);




</script>



</body>
</html>
